# Target directory
target/
bin/
out/


######################
# Gradle
######################
.gradle/
/build/


######################
# Maven
######################
/log/
/logs/*
/target/

######################
# Mac OSX
######################
.DS_Store
.svn



######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Files that might appear on external disk
.Spotlight-V100
.Trashes


######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar

######################
# Maven Wrapper Wrapper
######################
 !.mvn/wrapper/maven-wrapper.jar

######################
# ESLint
######################
.eslintcache